/*======================== GENERAL SECTION ========================*/

h1{
    text-align: center;
    font-size: 33pt;
    margin-top: 0px;
    margin-bottom: .3em;
    color: #97C47A;
    letter-spacing: 0.12em;
}

h2{
   text-align: center;
    font-size: 28pt;
    margin-top: 0px;
    margin-bottom: .3em;
    color: #97C47A;
    letter-spacing: 0.12em; 
}

/*======================== NAVIGATION AND HEADER ========================*/
header{
    padding-top:1em;
    background-color: #e1eedb;
}

nav{
    padding:0;
    margin-top: 0;
}

li{
    font-size: 20px;
    letter-spacing: 0.05em;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 20px;
    color: rgb(75,75,75);
}

a{
    text-decoration: none;
    color: rgb(75,75,75);
}

a:visited{
    color: rgb(75,75,75);
}

nav{
    background-color: #e1eedb;
    text-align: center;
    padding:0;
    display: block;
    margin-right: 0;
    margin-left: 0;
    clear: both;
}